name: .NET

on: 
  workflow_call:
    inputs: 
      upload-artifact:
        default: false
        type: boolean

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        persist-credentials: false
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        global-json-file: global.json
    - name: .NET Tool
      run: dotnet tool restore

    - name: .NET Test
      uses: "./.github/actions/dotnet-test"
      with: 
        working-directory: "./"

    - name: .NET Build
      uses: "./.github/actions/dotnet-build"
      with: 
        working-directory: "./"

    - name: Store artifact
      if: inputs.upload-artifact
      uses: actions/upload-artifact@v4
      with:
        name: "server"
        path: "./bin"
